/* UsersPage.module.css */

.centeredTitle {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #007bff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center; /* Agregamos la propiedad text-align: center; */
  }
  
  .subTitle {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #555;
    text-align: center; /* También aplicamos text-align: center; para centrar el subtítulo */
  }
  